* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 500px;
    height: 50%;
    text-align: center;
    box-shadow: 0 10px 25px ;
    animation-duration: 3s;
    animation-name: Animation_Daniel;
    animation-iteration-count: 1;
}
@keyframes Animation_Daniel {
    from {
        height: 10%;
    }
    to {
        height: 50%;
        transform: translateY(0);
    }
}
h1 {
    margin-bottom:40px;
    color: #cc0303;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #4e73df;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #334b94;
}

.result {
    background-color: #f8f9fc;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.result h3 {
    margin-bottom: 10px;
    color: #555;
}

.result p {
    color: #190aa0;
}
